asgiref==3.6.0
Django==4.2rc1
django-extra-views==0.14.0
django-simple-history==3.3.0
Jinja2==3.1.2
MarkupSafe==2.1.2
pdoc==13.0.0
psycopg==3.1.8
psycopg-binary==3.1.8
Pygments==2.14.0
sqlparse==0.4.3
typing_extensions==4.5.0
