{% extends 'base.html' %}

{% block "javascript" %}
	<script type="text/javascript">
		var selectCustomer = function(pk, name, address){
			$("input[name=customer]").val(pk);
			$("#customer-search").val('')
			$("#selected-customer").empty();
			$("#selected-customer").html(`<p>${name}<br />${address}</p>`);
		}

		var getItem = function(pk){
			$.ajax('/items/search/simple/', {method: "POST", data: {q: pk, csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val()}})
			.done(function(data){
				$("#item-search").val("");

				var items = $("#items");
				var i = $("#items .item").length
				if (i == 0){
					items.empty();
				}
				
				var make_model = [data.make, data.model].join(' ');

				var item = $("<div class=\"item\"><a href=\"#\" onclick=\"removeItem(event, this);\">X</a>&nbsp;&nbsp;&nbsp;" + data.pk + ": " + make_model + "<input style=\"width: 55px;\" class=\"price\" name=\"form-" + i.toString() + "-price\" value=\""+ data.price + "\" onchange=\"computeTotals()\" /></div>");
				var itemInput = $('<input type="hidden" value="' + data.pk + '" name="form-' + i.toString() + '-item"/>')
				item.appendTo(items);
				itemInput.appendTo($("#item-inputs"));
				computeTotals();
				computeFormSetData();
			})
		}

		var computeTotals = function(){
			var items = $("#items .item").length;
			subtotal = 0.00;
			for (var i = 0; i < items; i++) {
				subtotal += parseFloat($($(".item input")[i]).val());
			}
			$("#subtotal").text("$" + subtotal.toFixed(2));

			tax = subtotal * 0.06;
			$("#tax").text("$" + tax.toFixed(2));

			$("#total").text("$" + (subtotal + tax).toFixed(2));
		}

		var computeFormSetData = function(){
			var items = $("#items .item").length;
			$("#total-forms").val(items);
		}

		var removeItem = function(ev, el){
			ev.preventDefault();

			var index = $(el).parent().find('input').attr('name').split('-')[1];
			$(el).parent().remove();
			$('#item-inputs input')[index].remove()

			for (var i = 0; i < $("#items .item").length; i++) {
				$($("#items .item")[i]).find('input').attr('name', `form-${i}-price`)
				$($("#item-inputs input")[i]).attr('name', `form-${i}-item`)
			}

			computeTotals();
		}

		$(document).ready(function(){
			$("#customer-search").on('keyup', function(){
				$.ajax('/customers/search/', {method: "POST", data: {q: $("#customer-search").val(), csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val()}})
				.done(function(data){
					results = $("#customer-autocomplete");
					results.empty();
					for (var i = 0; i < data.length; i++) {
						result = data[i];
						$("<div>" + result.full_name + '<a href="#" style="float: right;" onclick="selectCustomer(' + result.pk + ", '" + result.full_name + '\', \'' + result.address_1 + '\');">Select</a></div>').appendTo(results)
					}
					results.show();
				})
			});
			$(document).on("click", function(e){
				if ($(e).attr('id') != "customer-search"){
					$("#customer-autocomplete").hide();
				}
			});

			$("#submit-item-search").on('keyUp', function(e){
				if (e.which == 13){
					e.preventDefault();
					getItem($("#item-search").val());
				}
			})

			$("#submit-item-search").on('click', function(e){
				e.preventDefault();
				getItem($("#item-search").val());
			})
		});
	</script>
{% endblock %}

{% block "content" %}
	<div id="new-transaction">
		<br />
		<a href="/">Back</a>
		<h2 class="text-center">New Transaction</h2>

		{% if form.errors %}
			{{ form.errors }}
		{% endif %}
		{% if item_formset.errors %}
			{{ item_formset.errors }}
		{% endif %}

		<form action="" method="POST">
			{% csrf_token %}

			<!-- Customer -->
			<div>
				<h3>
					Customer:
				</h3>
				<div style="margin-left: 18px;">
					<div id="selected-customer" style="display: inline-block;"><p><i>No Customer</i></p></div><br />
					<input type="hidden" name="customer" />
					<input id="customer-search" type="text" placeholder="Customer search..." />
					<div id="customer-autocomplete" style="display: none; border: 1px solid #444; border-top: none;">
					</div>
				</div>
			</div>

			<br />

			<!-- Items -->
			<div>
				<h3>
					Items:
				</h3>
				<div style="margin-left: 18px">
					<div id="items">
						<p><i>No Items</i></p>
					</div>
					<div id="item-inputs" style="display: none;">

					</div>

					<div>
						<input id="item-search" type="text" placeholder="Item Number..." />
						<button id="submit-item-search">Go</button>
					</div>
				</div>
			</div>

			<br />
			<hr />
			<div class="text-right">
				<input type="radio" value="sale" name="transaction_type"> <label for="sale">Sale</label>
				<input type="radio" value="layaway" name="transaction_type"> <label for="layaway">Layaway</label>
			</div>
			<hr />
			<br />

			<div id="totals" style="text-align: right;">
				Subtotal: <span id="subtotal">$0.00</span><br />
				Tax: <span id="tax">$0.00</span><br />
				Total: <span id="total">$0.00</span><br />
			</div>

			<br />

			<input type="hidden" name="form-INITIAL_FORMS" value="0" />
			<input id="total-forms" type="hidden" name="form-TOTAL_FORMS" />

			<div class="text-center">
				<button type="submit">Submit</button>
			</div>
		</form>
	</div>
{% endblock %}