{% extends 'base.html' %}

{% block "content" %}
	<h2 class="text-center">Transaction Record</h2>

	<p class="text-center">
		#{{ object.pk|stringformat:"07d" }}<br />
		{{ object.get_transaction_type_display|upper }}<br />
		Date: {{ object.timestamp|date:"h:m A M d, Y" }}
	</p>

	<h3>Items:</h3>

	<div id="items" style="margin-left: 18px; margin-right: 18px;">
		{% for titem in object.transactionitem_set.all %}
			<div class="item">
				<a href="/items/{{ titem.item.pk }}/">#{{ titem.item.pk|stringformat:"07d" }}</a>&nbsp;&nbsp;&nbsp;{{ titem.item }}
				<div style="float: right;">
					${{ titem.price }}
				</div>
			</div>

		{% endfor %}
	</div>

	<hr />
	<div class="text-right">
		Subtotal: ${{ object.subtotal }}<br />
		Tax: ${{ object.tax }}<br />
		Total: ${{ object.total }}<br />
	</div>
	<hr />

	<h3>Actions</h3>
	<a href="#">Print Receipt</a><br />
	<a href="#">Void</a><br />
{% endblock %}