{% load static %}

<html>
	<head>
		<title>Mercury Pawn</title>

		<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

	<script
	  src="https://code.jquery.com/jquery-3.6.3.min.js"
	  integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
	  crossorigin="anonymous"></script>

	{% block "javascript" %}
	{% endblock %}
	</head>
	<body>
		<div class="container">
			<h1 class="text-center"><a href="/">Mercury Pawn</a></h1>
			{% if request.user.is_authenticated %}
				<p class="text-center"><b>Welcome, {{ request.user.employee }}</b></p>
			{% endif %}

			<div id="content">
				{% block "content" %}
				{% endblock %}
			</div>
			<div id="version">
				<span>Version {{ VERSION }}</span>
			</div>
		</div>
	</body>
</html>