{% extends 'base.html' %}

{% block "content" %}
	<h2><i class="icon icon-people"></i> Customers</h2>
	<a href="{% url 'customer-create' %}">Add Customer</a><br />
	<a href="{% url 'customer-search' %}">Customer Search</a>

	<h2><i class="icon icon-item"></i> Items</h2>
	<a href="{% url 'items:search' %}">Item Search</a><br />
	<a href="{% url 'items:inventory-audit' %}">Inventory Audit</a>

	<h2><i class="icon icon-transaction"></i> Transactions</h2>
	<a href="{% url 'transactions:create-in' %}">New Buy/Pawn</a> <br />
	<a href="{% url 'transactions:create-out' %}">New Sale/Layaway</a>

	<h2>Store Management</h2>
	<a href="{% url 'employees:manage' %}">Employee Management</a>
{% endblock %}