{% extends 'base.html' %}

{% block "content" %}
	<h2 class="text-center">Location Assignment</h2>

	<h3 class="text-center">{{ items_count }} Items without locations</h3>

	<form class="text-center" action="" method="POST">
		{% csrf_token %}
		{{ formset.management_form }}

		{% for form in formset %}
			<div>
				<div style="display: inline-block;"># {{ form.instance.pk|stringformat:"07d" }} {{ form.instance }}</div>
				<div style="display: inline-block;">{{ form.as_p }}</div>
			</div>
			<hr />
		{% endfor %}
		<button type="submit">Set Location</button>
	</form>
{% endblock %}