{% extends 'base.html' %}

{% block "javascript" %}
	<script>
		$(document).ready(function(){
			$("input[name=q]").on('keyup', function(){
				$.ajax('', {method: "POST", data: {q: $("input[name=q]").val(), csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val()}})
				.done(function(data){
					results = $("#results");
					results.html("");
					for (var i = 0; i < data.length; i++) {
						result = data[i];
						$("<div>" + result.rank + " " + result.full_name + '<a href="' + result.absolute_url + '">View</a></div>').appendTo(results)
					}
				})
			})
		})
	</script>
{% endblock %}

{% block "content" %}
	<h2>Customer Search:</h2>

	<form id="customer-search" action="" method="POST">
		{% csrf_token %}
		<input type="text" name="q" placeholder="Search here" />
	</form>

	<div id="results">

	</div>
{% endblock %}